---
import Layout from "../../components/root.astro";
import pressOne from "../../assets/press-one.png";
import CallToAction from "../../components/call-to-action.astro";
---

<Layout title="Calling all ABI Survivors">
    <div class="prose mx-auto max-w-3xl p-3 text-black">
        <h1>CALLING ALL ABI SURVIVORS IN THE CHICHESTER AREA</h1>
        <h2>
            That's people living with an <b>A</b>cquired <b>B</b>rain <b>I</b>njury
        </h2>
        <h3><i>"FABIS can make dreams come true"</i></h3>

        <figure>
            <img src={pressOne.src} alt="Image of ABI Survivors!" />
            <figcaption class="text-center">
                Front Row, Peter Hines, Cllr Clare Apel, Chris Hiles and Adam Hadwen
            </figcaption>
        </figure>

        <p>
            Peter Hines and Chris Wood, founder members of FABIS (<b>F</b>riends of <b
                >A</b
            >cquired
            <b>B</b>rain <b>I</b>njury <b>S</b>urvivors) would like to invite ABI
            survivors living in the Chichester area to a free dinner at the Earl of
            March Pub, Lavant Rd, Chichester PO18 0BQ on Monday 26th February 2024
            commencing at 7p.m. The inaugural dinner is to mark the first year of
            FABIS operating in the Chichester area.
        </p>

        <p>
            If you wish to make a reservation please contact FABIS by e-mail or
            telephone. You can find the contact details on the <a href="/contact-us"
                >contact page</a
            >.
        </p>

        <p>
            Loneliness is a particularly acute problem amongst the ABI community.
            FABIS was created to help overcome this loneliness by the provision of
            social events and holidays. These are activities are free to those ABI
            survivors who live solely on benefits in the Chichester area. A
            sympathetic approach is also taken to those with incomes above state
            benefits.
        </p>
        <p>
            FABIS is unique in that it is the only charity providing support to ABI
            survivors in the Chichester area, by means of free holidays and free
            social events. An outline programme of events is in the pipeline, but the
            trustees are keen to work with FABIS members to provide them with the
            activities they want.
        </p>
        <p>
            Peter Hines an ABI survivor says:
            <blockquote>
                “When someone said how lonely he felt during lockdown , I replied
                “Welcome to My World!” For the first time in a long while, FABIS has
                given me hope for the future. As a founder member of FABIS, I am keen
                to share wonderful events and holidays for those living with an ABI
                in the Chichester area. FABIS can make dreams come true”
            </blockquote>
        </p>
        <blockquote>
            <p>
                I am delighted that FABIS has chosen the Earl of March for their
                inaugural dinner” says Owner/Landlord Adam Hadwen. “I aim to support
                FABIS with inclusive free cooking demonstrations for FABIS members to
                demonstrate how healthy, nutritious food can be produced on a tight
                budget. Of course, they get to eat what they create afterwards.
            </p>
        </blockquote>

        <p>
            The Chairman of Chichester District Council, Cllr Clare Apel, comments:
        </p>
        <blockquote>
            <p>
                FABIS will bring joy and hope to those who have sustained an ABI.
                Someone somewhere in the UK sustains an ABI every 90 seconds, yet it
                remains a largely unknown condition. The lives of those who sustain
                an ABI and those around them are changed forever. FABIS offers a
                lifeline to such families. It is a wonderful and unique charity
                operating in the Chichester District. I wish FABIS all good fortune
                in its inaugural operational year
            </p>
        </blockquote>
    </div>
    <CallToAction />
</Layout>
