---
import Layout from "../../components/root.astro";

import CallToAction from "../../components/call-to-action.astro";
import PressContent from "../../components/client-holiday-press-release.md";
---

<Layout title="Calling all ABI Survivors">
    <div class="prose mx-auto max-w-3xl p-3 text-black">
        <PressContent />
    </div>
    <CallToAction />
</Layout>
