<div
    class="rounded-box mx-3 my-10 max-w-3xl bg-primary px-10 pt-10 shadow-xl md:mx-auto"
>
    <p>
        If you or a loved one has been affected by a brain injury and would like to
        see what support you could get from us. Please do not hesistate to reach out
        via our contact us page
    </p>
    <a href="/contact-us" class="btn btn-block my-5">Here</a>
</div>
