---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: MarkdownHeading[];
}

const sectionTitles = Astro.props.headings;
---

<div
	class="navbar sticky top-0 bg-primary text-primary-content z-[99] shadow-lg"
>
	<div>
		<div class="dropdown">
			<label tabindex="0" class="btn-ghost btn-circle btn">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16M4 18h7"></path>
				</svg>
			</label>
			<ul
				tabindex="0"
				class="dropdown-content menu rounded-box menu-compact w-64 bg-primary p-4 mt-4 shadow-2xl"
			>
				{
					sectionTitles.map((e) => (
						<li>
							<a href={`#${e.slug}`}>{e.text}</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>

	<div class="flex-1">
		<a href="/" class="btn-ghost btn text-xl normal-case mx-auto">FABIS</a>
	</div>
	<div>
		<a class="btn" href="/contact-us">Contact Us</a>
	</div>
</div>
