---
---

<div
    class="navbar sticky top-0 z-[99] gap-3 bg-primary text-primary-content shadow-lg"
>
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn-ghost btn lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <ul
                tabindex="0"
                class="dropdown-content menu rounded-box menu-compact mt-3 w-52 bg-primary p-2 shadow"
            >
                <li>
                    <a href="/press/calling-all-abi">Calling all ABI survivors...</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-center flex">
        <a href="/" class="btn-ghost btn mx-auto text-xl normal-case">FABIS</a>
    </div>
    <div class="navbar-end">
        <ul class="menu menu-horizontal hidden px-1 lg:flex">
            <li tabindex="0">
                <a>
                    News and Events
                    <svg
                        class="fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        ><path
                            d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
                        ></path></svg
                    >
                </a>
                <ul class="bg-primary p-2">
                    <li>
                        <a href="/press/calling-all-abi">26th of Feburary Event</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a class="btn" href="/contact-us">Contact Us</a>
    </div>
</div>
