---
import Navbar from "./navbar.astro";
import favicon from "../assets/favicon.ico";
---

<html lang="en" data-theme="garden" class="bg-primary">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href={favicon} type="image/x-icon" />
        <title>{Astro.props?.frontmatter?.title || Astro.props?.title}</title>
    </head>
    <body>
        <div class="flex min-h-screen flex-col">
            <Navbar />
            <div class="flex-1 bg-base-300 pt-10">
                <slot />
            </div>
        </div>
    </body>
</html>
